header .navbar, .parrafo, #btnParrafo{
    background-color: rgb(53, 58, 64);
}


.modificaciones{
    block-size: 75px;
}

.card{
    display: flex
}

.confDescripcion{
    margin: 350px;
    margin-right: 250px;
    font-size: larger;
}

.tituloConf{
    font-size: xx-large;
    margin-right: 0px;
}


.imgPrincipal{
    filter: brightness(50%);
}

.imgPlaya{
    margin-left: 0px;
    padding-right: 0px;
    
}
.imagen{
    padding: 1px;
}

.parrafo{
    margin: 1px;
}
.cambios, .cambios ul li a{
    background-color: rgb(28, 60, 75);
    color: white;

    }

#green{
    color: rgb(41, 167, 68);
    }

.botonTickets {
    background-color: rgb(41, 167, 68);
}


.botonSmall{
    padding: 2px 7px;
    margin-bottom: 3px;
    background-color: rgb(255, 194, 8);;
    border: rgb(255, 194, 8);
    color: black;
    font-weight: bold;
}

.react{
    color: white;
    background-color: rgb(20, 162, 182);;
    border: rgb(20, 162, 182);
}

.ada{
    background-color: rgb(219, 54, 70); 
}

.negocios{
    background-color: rgb(107, 117, 126); 
}

.formHablar{
    margin-left: 200px;
}

.estiloForm{
    padding-right: 500px;
    padding-left: 500px;
}

.botonEnviar{
    background-color: rgb(150, 201, 62);
    margin: 15px;
    border: rgb(150, 201, 62);
    padding: 10px;
     margin-left: 40px;
     margin-right: 20px;
}

.cambiosFooter{
    background: linear-gradient(to right,rgb(28, 54, 67),rgb(30, 83, 114));
    
}

footer ul li a{

margin-left: 55px;
margin-right: 55px;
    /* background-color: tomato;
    align-items: center !important;
    vertical-align: middle !important; */
}

.estudiantes{

    /* text-decoration: none;
    background-color: transparent;
    color: tomato;
    text-overflow: initial;
    text-shadow: ivory;
    overflow: hidden;
    outline: lavender; */
}